<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.opdrachtCordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Opdracht_Cordova</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
    <!-- you can use any density that exists in the Android project -->
    <splash src="www/img/splash_screen.jpg" density="land-hdpi"/>
    <splash src="www/img/splash_screen.jpg" density="land-ldpi"/>
    <splash src="www/img/splash_screen.jpg" density="land-mdpi"/>
    <splash src="www/img/splash_screen.jpg" density="land-xhdpi"/>
    <splash src="www/img/splash_screen.jpg" density="land-xxhdpi"/>

    <splash src="www/img/splash_screen.jpg" density="port-hdpi"/>
    <splash src="www/img/splash_screen.jpg" density="port-ldpi"/>
    <splash src="www/img/splash_screen.jpg" density="port-mdpi"/>
    <splash src="www/img/splash_screen.jpg" density="port-xhdpi"/>
    <splash src="www/img/splash_screen.jpg" density="port-xxhdpi"/>
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <preference name="SplashScreenDelay" value="3000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreenSpinnerColor" value="blue" />
    <preference name="AndroidLaunchMode" value="singleTop" />

    <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
    <string>need camera access to take pictures</string>
    </edit-config>
    <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
        <string>need photo library access to get pictures from there</string>
    </edit-config>
    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
        <string>need location access to find things nearby</string>
    </edit-config>
    <edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
        <string>need photo library access to save pictures there</string>
    </edit-config>
</widget>
